{% assign url = url | default: 'https://twitter.com/' %}
{% assign graph = url | social_graph %}

<div class="social-graph">
    <a href="{{ graph.url }}">
        <img class="image" src="{{ graph.image }}" alt="{{ graph.title }}">
        <div class="text-body">
            <div class="site_name">{{ graph.site_name }}</div>
            <div class="title">{{ graph.title }}</div>
        </div>
    </a>
</div>
